<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cvws.icloud-content.com/B/AVJ-yHhKP0RPDzyPT_KTw2EGLm0jAY7-XZjHwtKA8v1xslu2QVfpdBLU/Flero_2.208_1773416517.ipa?o=Am4reeMxjzkT-l4LjwJ2olQIdxAked1qtqReR3B6jV_l&v=1&x=3&a=CAogMLgKaIAdcloD1eCZmGVUrhs67FzpRoEaJj5eORBZSy0SbxD_1_y-zjMY_7TYwM4zIgEAUgQGLm0jWgTpdBLUaif37jO0Djg1kcPdC2F4IuKhYKam4uvRaHXsUGxA_8-2lOlGVy9vXXlyJ2TevYaK-di9WAt832xl156R-p5R12XUxmZXfw0sUPV2MVhAa8t6uA&e=1773420288&fl=&r=339ec4cb-476d-4c97-9e89-17fe718b6bc2-1&k=2nmYx60PKR5HxnI8LrW5vA&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=171&s=d4iloCy_7N-j5nrqWM1YF5fXyb8</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.sp67.flero</string>
                <key>bundle-version</key>
                <string>2.208</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Flero</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
