<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cvws.icloud-content.com/B/AY9wQ81dIELLuD9lqjP5dQz5B4a1AZVbQZ_zBJEgzq2Jg0anxasgB_tX/Flero_2.208_1773418634.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.sp67.flero</string>
                <key>bundle-version</key>
                <string>2.208</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Flero</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
